@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.gallery-item {
  position: relative;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
  background-color: #fff;
  color: #2e2f42;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.gallery-info p {
  margin: 0;
  padding: 0 5px;
}

#load-more {
  margin: 20px;
}

.loader {
  margin: 20px;
}
